div.multi-step ol > li.current .title {				/* current title text color */
	color:#fff;
    font-size: 15px;
}
div.multi-step ol > li .title {						/* title text color */
	color:#F1F1F1;
    font-size: 15px;
}
div.multi-step ol > li.current .subtitle {					/* subtitle text color */
	color:#ffffff !important;
    font-weight: bold;
    font-style: italic;
}
div.multi-step ol > li .subtitle {					/* subtitle text color */

    font-weight: bold;
    font-style: italic;
    color:#F1F1F1 !important;

}


div.multi-step.numbered ol > li .wrap:before {		/* step number, background, border and text color */ 
	background:#333;
	border-color:#fff;
	color:#fff;
}


div.multi-step.color-1 ol > li,
div.multi-step.color-1 ol > li:before {				/* default step background */
	background-image:url(../img/colors/blue.png);
}
div.multi-step.color-1 ol > li.current,
div.multi-step.color-1 ol > li.current:before {	/* the active step */
	background-image:url(../img/colors/blue_active.png);
}

div.multi-step.color-2 ol > li,
div.multi-step.color-2 ol > li:before {
	background-image:url(../img/colors/green.png);
}
div.multi-step.color-2 ol > li.current,
div.multi-step.color-2 ol > li.current:before {
	background-image:url(../img/colors/green_active.png);
}

div.multi-step.color-3 ol > li,
div.multi-step.color-3 ol > li:before {
	background-image:url(../img/colors/red.png);
}
div.multi-step.color-3 ol > li.current,
div.multi-step.color-3 ol > li.current:before {
	background-image:url(../img/colors/red_active.png);
}

div.multi-step.color-4 ol > li,
div.multi-step.color-4 ol > li:before {
	background-image:url(../img/colors/grey.png);
}
div.multi-step.color-4 ol > li.current,
div.multi-step.color-4 ol > li.current:before {
	background-image:url(../img/colors/grey_active.png);
}

div.multi-step.color-5 ol > li,
div.multi-step.color-5 ol > li:before {
	background-image:url(../img/colors/orange.png);
}
div.multi-step.color-5 ol > li.current,
div.multi-step.color-5 ol > li.current:before {
	background-image:url(../img/colors/orange_active.png);
}
