/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

 div.multi-step	ol											{ list-style-type:decimal; margin:2em 0; padding-left:2em; }
 div.multi-step	ol li										{ list-style:decimal outside; }
 div.multi-step	ol ol li									{ list-style-type:lower-alpha; }
 div.multi-step	ol ol ol li									{ list-style-type:lower-roman; }

div.multi-step	 ul											{ list-style-type:disc; margin:1em 0; padding-left:2em; }
div.multi-step	ul li										{ list-style:disc outside; }
div.multi-step	ul ul li									{ list-style-type:circle; }
div.multi-step	ul ul ul li									{ list-style-type:square; }



div.multi-step								{ margin:1em 0; }
hr											{ margin:2em auto; width:10%; }